.home-container {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  padding-top: 90px;
  min-width: 320px;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 20px;
  background: #00285F;
}

.home-card-btn {
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
}

.home-card-btn p{
  color: #585858;
  font-size: 18px;
  margin-top: 9px;
}

.home-card-btn button{
  width: 175px;
}

.home-btn-container {
  margin-top: 18px;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 60px 10px;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 60px 10px;
}

.home-content-container h1 {
  width: 260px;
  font-size: 1em;
  color: #FFFFFF;
}

.home-content-container p {
  color: #FFFFFF;
  font-size: 14px;
  margin-bottom: 30px;
  width: 260px;
}

.home-image-container {
  padding: 25px 15px;
}

.home-image-container svg {
  width: 250px;
  height: auto;
}

@media (min-width: 576px) {
  .home-container {
    padding: 90px 15px 15px 15px;
    font-size: 40px;
  }
  .home-content-container h1 {
    width: 506px;
    font-size: 36px;
  }
  .home-content-container p {
    width: 420px;
    margin: 0px 40px 20px;
    font-size: 18px;
    align-items: center;
  }
  .home-image-container svg {
    width: 340px;
  }

/*Container with button*/
  .home-card-btn {
    display: flex;
    align-items: center;
    height: 125px;
  } 
  .home-btn-container{
    margin: 30px 20px 40px 85px;
  }
}

@media (min-width: 768px) {
  .home-image-container {
    padding-top: 80px;
  }
}

@media (min-width: 992px) {
  .home-image-container svg {
    width: 460px;
  }
}

@media (min-width: 1200px) {
  .home-container{
    width: 980px;
    margin: auto;
  }
  .home-content-container-text{
    margin: 140px 0px 140px 85px;
    width: 410px;
  }
  .home-content-container p {
    margin: 0px;
  }
  .home-card {
    flex-direction: row;
    justify-content: space-around;
  }
  .home-content-container {
    align-items: flex-start;
    text-align: left;
    align-content: space-between;
    flex-flow: wrap;
  }
  .home-image-container {
    width: 340px;
    margin-right: 80px;
  }

  .home-image-container {
    padding-bottom: 0px;
  }

  .home-image-container svg {
    width: 340px;
  }
}